
.main{
  display: flex;
}
.datepicker-Table{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items:center;
  padding: 1%;
  align-self: flex-start
}
.header{
  display: flex;
    width: 100%;
    background-color: #e1dfe5;
  
}
.dateChanger{
  display: flex;

}
.content1 {
  background-color: #fff;
  padding: 1%;
  min-width: 11%;
  border-radius: 14px;
}
.head2 {
  display: flex;
  justify-content: space-around;
  width: 90%;
  background-color: #fff;
  border-radius: 30px;
  flex-wrap: wrap;
  padding: 0.5%;
  margin-top:2%;
}
.graphData{
  width:100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.graph-outside {
  padding-top: 2%;
  padding-bottom: 2%;
  height: 100%;
  width: 90%;
}
.barStyle {
  display: flex;
  flex-direction: row;
  width: 90%;
  font-size: 9px;
  padding-top: 2%;

}
.goodSpan {
  background-color: rgba(10, 167, 69, 0.2);
  border: 2px solid;
  border-radius: 5px 0px 0px 5px;
  border-color: rgba(10, 167, 69, 1);
  border-width: 1;
  width: 33%;
}
.goodSpan:hover {
  background-color: rgba(10, 167, 69, 0.4);
  border-color: rgba(10, 167, 69, 1);
}
.avgSpan {
  background-color: rgba(255, 193, 7, 0.2);
  border: 2px solid;
  border-color: rgba(255, 193, 7, 1);
  border-width: 1;
  width: 33%;
}
.avgSpan:hover {
  background-color: rgba(255, 193, 7, 0.4);
  border-color: rgba(255, 193, 7, 1);
}
.badSpan {
  width: 33%;
  background-color: rgba(205, 92, 92, 0.2);
  border: 2px solid;
  border-radius: 0px 5px 5px 0px;

  border-color: rgba(205, 92, 92, 0.2);
  border-width: 1;
}
.badSpan:hover {
  background-color: rgba(255, 99, 132, 0.4);
  border-color: rgba(255, 99, 132, 1);
}
