.login-main {
  justify-content: space-evenly;
  align-items: center;
  flex-direction: column;
  display: flex;
  height: 100vh;
  color: aliceblue;
  border-radius: 20px;
  margin: auto;
  background-color: teal;
  width: 40%;
  padding: 3%;
  min-width: 360px;
}
.login-main h1 {
  font-weight: 900;
  font-size: 30px;
}
.login-second {
  width: 60%;
  height: 20%;
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.logo-login {
  width: 60%;
  height: 40%;
}
