.login-main {
  justify-content: flex-end;
  align-items: center;
  flex-direction: column;
  display: flex;
  height: 100vh;
  color: aliceblue;
  border-radius: 30px;
  margin: auto;
  background-color: teal;
  width: 40%;
  padding: 3%;
}
.login-second {
  width: 60%;
  height: 40%;
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
